.btn-preguntas,
.card-container {
  background-color: transparent;
  color: white;
  outline: none;
}

.btn-preguntas {
  outline: none;
  color: white;
}

.btn-preguntas:hover {
  outline: none;
  color: white;
  background-color: rgba(67, 50, 255, 0.6);
}

.card-body {
  color: white;
  font-weight: bold;
}

.card-body:hover {
  background-color: rgba(67, 50, 255, 0.6);
}
