.seccion {
  color: white;
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  transform: translate(-4vw, 0);
}

h1,
h4 {
  color: white;
}

h4 {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgba(67, 50, 255, 0.4);
  padding: 10px;
}
