@media only screen and (min-width: 300px) {
* {
  box-sizing: border-box;
  font-family: Arial;
}
#puntaje {
  margin: 0 auto;
  margin-top: 10%;
}
#puntaje .card {
  background-color: #fa4f4f;
  color: white;
  margin: 5vh;
  margin-top: 30px;
}
#puntaje img {
  border-radius: 50%;
  margin-top: 0px;
}
#card-body a {
  margin-top: 15px;
}
body {
  background-color: #3da8a8;
  width: 100vw;
  height: 100vh;
}
}
