. {
  box-sizing: border-box;
}
body {
  background-color: #3da8a8;
  width: 100vw;
  height: 100vh;
}
  /* IMAGEN DEL HOME Y BOTON JUGAR */
img {
  width:100vw;
  margin-top: 20vh;
}
.boton {
  padding: 10px;
}
.boton input {
  margin-top: 5vh;
  margin-left: 30%;
  background-color: #b91d51;
  width: 40vw;
  height: 7vh;
  color: white;
  font-weight: bold;
  font-size: 3vh;
}
.boton input:hover {
  background-color: #07c550;
}
/* NAVIGATION BAR */
.navbar {
  background-color: #fa4f4f !important;
  width:100vw;
  height: 7vh;
}
.nav-link {
  color: white !important;
  font-size: 3vh;
}
.nav-link:hover {
  text-decoration: underline;
}
.btn {
  color: white !important;
  font-size: 3vh;
}
.btn:hover {
  text-decoration: underline;
}

/* PAGINA DE JUGAR */
. {
  font-family: Arial;
  font-size: 1em;
  margin: 0 auto;
}
.seccion{
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20vh 10vw;

}
h2 {
  width: 30vw;
  height: 2vh;
  font-size: 4vh;
  color: white;
  margin-top: 10vh;
}
.row {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.row2 {
  width: 30vw;
  margin: 0 35vw;

  display: flex;
  justify-content: space-between;
}
p{
  background-color: rgba(0,0,0,0.7);
  width: 70vw;
  margin: 10vh 15vw;
  height: 30vh;
  color: white;
  font-size: 2em;
}
img.VF {
  width: 10vw;
}



@media only screen and (min-width:1500px) {

  /* IMAGEN DEL HOME Y BOTON JUGAR */
  img {
    width: 50vw;
    margin-top: 15vh;
    margin-left: 25vw;
  }
  .boton input {
    margin-left: 45vw;
    width: 10vw;
  }

  /* PAGINA DE JUGAR */
  .seccion{
    color: white;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 40px;
  }
  h2 {
    width: 40vw;
    height: 5vh;
    color: white;
    margin-bottom: 10vh;
  }
  .row {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
  }
  .row2 {
    width: 20vw;
    margin: 0vh 40vw;

    display: flex;
    justify-content: space-between;
  }
  p{
    background-color: rgba(0,0,0,0.7);
    width: 70vw;
    margin: 25vh 15vw;
    height: 30vh;
    color: white;
    font-size: 2em;
  }
  img.VF {
    width: 10vw;
  }

  /* RESTO*/

.button:hover {
  color: white;
  font-size: 20vh;
  text-decoration: underline;
}

  .login-box a {
    font-size: 14px;
    line-height: 20px;
    color: white;
  }

  .login-box a:hover {
    color: white;
    font-size: 16px;
  }

  .avatar {
    height: 35%;
    width: 45%;
    border-radius: 50%;
    margin-top: -150px;
    margin-left: 17px;
  }


  fieldset {
    background-color: #fa4f4f;
  }

  label {
    color: white;
  }

.login-box {
  width: 320px;
  height: 420px;
  background: #fa4f4f;
  color: white;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 40px;
}

.login-box h3 {
  margin: 0%;
  padding: 0 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.login-box label {
  margin: 0%;
  padding: 0%;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.username {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 30px;
  color: white;
  font-size: 12px;
}

.password {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 30px;
  color: white;
  font-size: 12px;
}

.button {
  border: none;
  outline: none;
  height: 35px;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
}
