body{
  background-color: #3DA8A8;

}

header{
  background-color: #FA4F4F;
}

nav{
  overflow: hidden;
}

ul{
  list-style: none;
}

li{
  float: left;
  margin-left: 9%;
}
a
{
  text-decoration: none;
  color: white;
}

img{
  margin-top: 3%;
  margin-left: 24%;
}
.boton{

  padding: 10px;
}

.boton input{
  margin: auto;
  margin-left: 41%;
  background-color: #FDDC53;
  width: 181px;
  height: 48px;
}
