
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 90vh;
}

.text-center {
    margin-top: 20vh;
}

.nav-item {
    color: white !important;
}

.nav-item:hover {
    text-decoration: underline;
}

#audio {
    display: none;
}

img.play {
  
  height: auto;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-top: 3vh;
}

@media (min-width: 200px) and (max-width: 799px) {

#puntajenav img {
    display: none;
}
}

@media (min-width: 800px) {
  img.play {
      width: 8vw;
      height: auto;
      margin-left: 45vw;
      margin-right: 45vw;
      margin-top: 3vh;
  }
  body {
      background-image: url("../img/desktop.jpg");
  }
  #puntajenav img {
      display: block;
      border-radius: 50%;
      margin-top: 0px;
      height: 30px;
      width: 30px;
  }
}
