
/* PAGINA DE JUGAR */
. {
  font-family: Arial;
  font-size: 1em;
  margin: 0 auto;
}

body {
  background-color: black;
  overflow: hidden;
}
nav {
  width: 95vw;
  height: 10vh;
  background-color: orange;
  margin-left: 0;
}
section{
  width: 95vw;
  height: 95vh;
  box-sizing: border-box;
  padding: 2.5%;

}
h2 {
  width: 45vw;
  height: 5vh;
  color: white;
}
.row {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.row2 {
  width: 100vw;
  display: flex;
  justify-content: center;
}
p{

  background-color: gray;
  width: 90vw;
  height: 30vh;
  color: black;
  font-size: 2em;
}
button{
  border-radius: 50%;
}
img.VF {
  width: 35vw;

}
